
<p class="lead">The second and third buttons are for continuous tracking. One will track and the other will untrack.</p>

<p class="lead" *ngIf="!!currentLat && !!currentLong">Latitude: {{currentLat}} &nbsp; Longitude: {{currentLong}} </p>

<app-child-diagnostic-message></app-child-diagnostic-message>
