<main role="main" class="inner cover">

  <h1 class="cover-heading">Google Maps Geolocation</h1>
  <h3 class="">Your results: </h3>
  
  <app-custom-map></app-custom-map>
  
  <h2 class="">There are two different features.</h2>
  
  <app-custom-oneshot></app-custom-oneshot>

  <p class="lead">
    <a href="" *ngIf="!isTracking" (click)="posGetCurrent($event)" class="btn btn-lg btn-secondary">Find Me</a>
    <a href="" *ngIf="isTracking" (click)="cullSignal($event)" class="btn btn-lg btn-secondary disabled">Find Me</a>
  </p>
  
  <app-custom-continuous></app-custom-continuous>

  <p class="lead">
    <a href="" *ngIf="!isTracking" (click)="posWatch($event)" class="btn btn-lg btn-secondary">Track me</a>
    <a href="" *ngIf="isTracking" (click)="cullSignal($event)" class="btn btn-lg btn-secondary disabled">Track me</a>

    <a href="" *ngIf="isTracking" (click)="stopTrack($event)" class="btn btn-lg btn-secondary">Stop tracking</a>
    <a href="" *ngIf="!isTracking" (click)="cullSignal($event)" class="btn btn-lg btn-secondary disabled">Stop tracking</a>
  </p>
  
</main>