
/* Custom default button */

/*  * Cover  */
.cover { padding: 0 1.5rem; 
  
  /* large button */
  /*  * Map  */
  #map { 
    position: relative; height: 400px;  max-width: 100%; background-color: #FF6969; 
  }

  /* .maps-frame { height: 400px; max-width: 100%; }
  .kd-tabbed-vert.header-links .kd-tabbutton a { color: #757575; display: inline-block; height: 100%; padding: 0 24px; width: 100%; }
  .kd-tabbed-vert.header-links .kd-tabbutton { padding: 0; }
  .kd-tabbed-vert.header-links .kd-tabbutton.selected a { color: #03a9f4; }
  .kd-tabbed-vert.header-links .kd-tabbutton a:focus { text-decoration: none; }
  p.top-desc { padding: 1em 1em .1em 1em; }
  p.bottom-desc { padding: 0em 1em 1em 1em; } */

}
