<div class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Geolocation Demo</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" target="_blank" href="https://cloud.google.com/maps-platform/">Google Maps</a>
          <a class="nav-link" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
          <a class="nav-link" target="_blank" href="https://v5.angular.io/">Angular v5</a>
        </nav>
      </div>
    </header>
  
    <app-container></app-container>
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <h4>Further reading:</h4>
        <p>Geolocation and Google Maps by <a href="https://medium.com/@balramchavan/display-and-track-users-current-location-using-google-map-geolocation-in-angular-5-c259ec801d58" target="_blank">Balram Chavan</a>.</p>
        <p>Configuring Sass with Angular by <a href="https://scotch.io/tutorials/using-sass-with-the-angular-cli" target="_blank">Chris Sevilleja</a>.</p>
        <p>Configuring Bootstrap with Angular at <a href="https://stackoverflow.com/questions/38534276/how-to-use-bootstrap-4-in-angular-2" target="_blank">Stack Overflow</a>.</p>
      </div>
    </footer>
  
  </div>

</div>