.cover-container { max-width: 64em; /* max-width: 42em; */ } 

/*  * Header  */ 
.masthead { margin-bottom: 2rem; 
  .masthead-brand { margin-bottom: 0; }
  .nav-masthead .nav-link { padding: .25rem 0; font-weight: 700; color: rgba(255, 255, 255, .5); background-color: transparent; border-bottom: .25rem solid transparent; }
  .nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus { border-bottom-color: rgba(255, 255, 255, .25); }
  .nav-masthead .nav-link + .nav-link { margin-left: 1rem; }  
  .nav-masthead .active { color: #fff; border-bottom-color: #fff; } 
}


/*  * MQ  */
@media (min-width: 48em) {
  .masthead-brand { float: left; }
  .nav-masthead { float: right; }
}


/*  * Footer  */
.mastfoot { color: rgba(255, 255, 255, .5); } 
