
<p class="lead">The first button will locate you once.</p>

<p class="lead" *ngIf="!!currentLat && !!currentLong">Latitude: {{currentLat}} &nbsp; Longitude: {{currentLong}} </p>

<app-child-diagnostic-message></app-child-diagnostic-message>
