/* You can add global styles to this file, and also import other style files */

/* * Base structure */
html { height: 100%; }

html, body { background-color: #333; }

body { /* height: 100%; */ display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center;  color: #fff; text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); }

/* Links */
a, a:focus, a:hover { color: #fff; }

/* large button */
.btn-lg { padding: .75rem 1.25rem; font-weight: 700; } 

/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus { color: #333; text-shadow: none; background-color: #fff; border: .05rem solid #fff; } 

.disabled, .disabled:hover {
  // color: #ff0069;
  cursor: not-allowed;
  text-decoration: underline;
  opacity: .5;
}